@()

@adminMain("Admin") {


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Kontaktní formulář</h1>
    </div>

    <main role="main" class="container">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">E-mail</th>
                    <th scope="col">Text</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test.cz</td>
                    <td>Data</td>
                </tr>
            </tbody>
        </table>
    </main>

}
