@import helper._
@import models.form.ArticleForm
@import models.entity.Article
@(articleForm: Form[ArticleForm], articles: List[Article])(implicit request: RequestHeader, messages: Messages)
@adminMain("Admin") {

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Články</h1>
    </div>

    <main role="main" class="container">


        @views.html.helper.form(action = routes.AdminController.articleFormPost()) {
            <h1 class="h3 mb-3 font-weight-normal">Přihlášení</h1>

            @CSRF.formField
            @inputText(articleForm("title"), 'class -> "form-control", '_label -> "Titulek")
            @textarea(articleForm("perex"), 'class -> "form-control", '_label -> "Perex")
            @textarea(articleForm("content"), 'class -> "form-control", '_label -> "Content")

            <button class="btn btn-primary" type="submit">Uložit</button>
        }

        <hr>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Titulek</th>
                    <th scope="col">Akce</th>
                </tr>
            </thead>
            <tbody>
                @for(article <- articles) {
                    <tr>
                        <td>@article.title</td>
                        <td><a href="#" class="btn btn-danger">Smazat</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </main>

}
