@import models.entity.Article
@(article: Article)

@main("Článek") {

  <section>
    <div class="container" id="article">
      <div class="section-heading text-center">
        <h2>Články</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-12 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="feature-item">
                  <h3>@article.title</h3>
                  <p class="text-muted">@article.perex</p>
                  <p>@article.content</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

}
